{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="bg-body-secondary">
    <section class="container-fluid">
        <article class="row m-5 d-flex justify-content-center align-content-center">

            <div class="mb-4">
                <a class="btn btn-primary" href="{% url 'home' %}">Volver al Inicio</a>
                <a class="btn btn-secondary" href="{% url 'crear_articulo' %}">Agregar Nuevo</a>
            </div>

            <h4>Bienvenido {{ user.username }}</h4>

            <table class="table table-hover m-3">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for articulo in articulos %}
                    <tr>
                        <td>{{ articulo.id }}</td>
                        <td>{{ articulo.titulo }}</td>
                        <td>{{ articulo.fecha_publicacion|date:"d/m/y" }}</td>
                        <td>
                            <a href="{% url 'detalle_articulo' articulo.id %}" class="btn btn-primary btn-sm">Ver</a>
                            <a href="{% url 'editar_articulo' articulo.id %}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="{% url 'eliminar_articulo' articulo.id %}" class="btn btn-danger btn-sm">Borrar</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No tienes publicaciones todavía.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </article>
    </section>
</main>
{% endblock %}